{% extends 'base.html' %}

{% block titulo %} MarineBase {% endblock %} 

{% block contenido %}

<div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-64" patternUnits="userSpaceOnUse">
        <path d="M100 200V.5M.5 .5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-64" class="overflow-visible fill-gray-50">
      <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M299.5 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
  </svg>
  <div class="mx-auto max-w-xl lg:max-w-4xl">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900">¡Reporta un pirata!</h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">Rellena la información necesaria para que podamos trabajar en tu caso.</p>
    <div class="mt-16 flex flex-col gap-16 sm:gap-y-20 lg:flex-row">


      <form action="{{ url_for('report') }}" method="POST" class="lg:flex-auto">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div>
            <label class="block text-sm font-semibold leading-6 text-gray-900">Nombre</label>
            <div class="mt-2.5">
              <input type="text" name="nombre" placeholder="Nombre del pirata" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <label class="block text-sm font-semibold leading-6 text-gray-900">Tripulación</label>
            <div class="mt-2.5">
              <input type="text" name="tripulacion" placeholder="Tripulación pirata" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label class="block text-sm font-semibold leading-6 text-gray-900">Recompensa</label>
            <div class="mt-2.5">
              <input type="text" name="recompensa" placeholder="Recompensa ofrecida" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label class="block text-sm font-semibold leading-6 text-gray-900">Crimen</label>
            <div class="mt-2.5">
              <input type="text" name="crimen" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></input>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <button type="submit" class="block w-full rounded-md bg-[#1144ae] px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enviar</button>
        </div>
      </form>


      <div class="lg:mt-6 lg:w-80 lg:flex-none">
        <figure class="mt-10">
          <blockquote class="text-lg font-semibold leading-8 text-gray-900">
            <p>“Tras reportar acá a los piratas, la Marina llegó rápidamente a nuestra isla. ¡Gracias por mantener seguro a nuestro hogar!”</p>
          </blockquote>
          <figcaption class="mt-10 flex gap-x-6">
            <img src="/static/chimney.jpg" alt="" class="h-12 w-12 flex-none rounded-full bg-gray-50">
            <div>
              <div class="text-base font-semibold text-gray-900">Chimney</div>
              <div class="text-sm leading-6 text-gray-600">Ciudadana de Water Seven</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>


</div>


{% endblock %}